/*
style.css
---------
Fichier de style
*/
:root {
  --polices: Helvetica,Arial,sans-serif;
}

header
{
    background-color: #8c9099;
    display: flex;
    width: 100%;
}
#site
{
    width: 50%;
    padding-left: 50px;
}

h1
{
    font-size: 40px; 
    color: white;
    font-family: --polices;   
}
nav
{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a
{
    text-decoration: none;
    color: white;
    font-family: --polices;
    padding-left: 20px;
}
nav a:hover
{
    color: black;
}

#button-play
{
    background: #e71616;
    border-radius: 20px;
    cursor: pointer;
    font-family: --polices;
    color:  white;
    font-size: 120%;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    height: 50px;
    width: 100px;
    transform: translate(-50%, -50%);
}
#button-play:hover
{
    color:  black;
}

p
{
    font-size: 14px;
    font-family: --polices;
}

h2
{
    text-align: center;
    font-family: --polices;
}

#bestmovie_section
{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    height: cover;
    width:80%;
    margin: 0 auto;
}
#bestmovie_title
{

}

#desc{
    max-width: 200px;
}

.category{
    display:  flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.carousel
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.movie
{
    display:  flex;
    border: 2px solid black;
    background-color: white; 
    background-size: cover;
    min-height: 200px;
    cursor:  pointer;
    transition: 1s;
    margin-left: 10px;
    margin-right: 10px ;
    overflow: hidden;
}

.movie:hover
{
    transform: scale(1.2);
}

.nav_btn
{
    color: black;
    font-weight: bold;
    height: 100%;
    width: 60px;
    background-color: white;
    border-style : none;
    font-size: 25px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
 .nav_btn {
 display: none;
 }
}

.leftbutton
{
    left: 20px;
}
.rightbutton
{
    right: 20px;
}


footer
{
    text-align: center;
    font-family: --polices;
}

.modal_trigger{
    cursor: pointer;
}

 /* The Modal */
.modal_btn{
    cursor:  pointer;
    padding: 10px 14px;
    font-size: 18px;
    margin 100px auto;
    display:  block;
    min-width: 150px;
}

.modal_container{
    visibility: hidden; 
    position:  fixed;
    top: 0;
    width: 100%;
    height: 100%;
}
.modal_container.active{
    visibility: visible;
}

.overlay{
    position:  absolute;
    width:  100%;
    height: 100%;
    background: #333333d3;
}

.modal 
{
    width: 95%; 
    max-width: 700px;
    min-width: 300px;
    padding: 30px;
    background: #fff;
    position: absolute; /* Stay in place */
    top: 40%;
    margin-top: 200px;
    left: 50%;
    height:  350px;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    border-radius: 5px;
    transition: .1s;
}

/* The Close Button */
.close_modal 
{
  padding: 8px 10px;
  border:  none;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 18px;
  cursor: pointer;
  background:  #d5d8dc ;
  color:  #17202a;

}

.movie_details{
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: --polices;
}
.movie_details.img {
}
