/*
style.css
---------
Fichier de style
*/
body {
  --polices: Helvetica,Arial,sans-serif;
}

header
{
    background-color: #8c9099;
    display: flex;
    width: 100%;
}
#site
{
    width: 50%;
    padding-left: 20%;
}

h1
{
    font-size: 40px; 
    color: white;
    font-family: var(--polices);   
}
nav
{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a
{
    text-decoration: none;
    color: white;
    font-family: var(--polices);
    padding-left: 20px;
}
nav a:hover
{
    color: black;
}

.button-play
{   background: #e71648; 
    border-radius: 20px;
    cursor: pointer;
    font-family: var(--polices);
    color:  white;
    font-size: 120%;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    height: 50px;
    width: 100px;
}
.button-play:hover
{
    color:  black;
}

p
{
    font-size: 14px;
    font-family: var(--polices);
}

h2
{
    text-align: center;
    font-family: var(--polices);
    margin-top: 50px;
}

#bestmovie_section
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: cover;
    width:70%;
    margin:  auto;
    padding-top: 40px;
}

.bestmovie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#bestmovie_title
{
    text-align: justify;
}

#desc{
    max-width: 300px;
    text-align: justify;
    padding-left: 20px;
}


footer
{
    text-align: center;
    font-family: var(--polices);
    margin-top: 100px;
}


 /* The Modal */
.modal_btn{
    cursor:  pointer;
    font-size: 18px;
    margin: auto;
    display:  block;
    min-width: 150px;
}

.modal_container{
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 

}

.modal {
    width: 95%; 
    max-width: 800px;
    min-width: 300px;
    padding: 40px;
    background: #fff;
    position: absolute; 
    top: 40%;
    margin-top: 20px;
    left: 50%;
    min-height: 200px;
    max-height:  400px; 
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    border-radius: 5px;
    z-index: 1;
}

/* The Close Button */
#close_modal 
{
  padding: 8px 10px;
  border:  none;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 18px;
  cursor: pointer;
  background:  #d5d8dc ;
  color:  #17202a;
}

.movieDetails{
    margin-bottom: 50px;
    font-family: var(--polices);
}


@media only screen and (max-width: 600px) {
 .nav_btn {
 display: none;
 }
 #bestmovie_section{
    flex-direction: column;
 }
}


/* CAROUSEL CSS */
.carousel {
  margin: 20px;
}
.carousel__view {
  width: calc((200px*4) + 22px);
  height: 300px;
  background: white;
  box-shadow: 0 1px 8px #888888;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.carousel__control {
  position: absolute;
  z-index: 1;
  height: 300px;
  width: 70px;
  background-color: rgba(221, 221, 221, 0.5);
  transition: background-color 0.3s;
  display: table;
}
.carousel__control .icon {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
}
.carousel__control:hover {
  background-color: rgba(221, 221, 221, 0.8);
}
.carousel__control:first-of-type {
  left: 0;
}
.carousel__control:last-of-type {
  right: 0;
}

.product-list {
  position: absolute;
  margin: 0;
  padding: 0;
  transition: transform 0.3s;
  transform: translateX(0px);
  list-style: none;
  height: 300px;
}
.product-list__item {
  width: 200px;
  height: 300px;
  display: inline-block;
}

.product {
  display: table;
  height: 100%;
  width: 100%;
}

