<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/css/style.css"/>
        <title>JustSteamIt</title>
        
    </head>    

    <script defer src="/static/js/accueil.js"></script>

    <body>

        <header>
            <div id=site>
                <h1>JustSteamIt</h1>
            </div>
            <nav id="header_nav" aria-label="Main navigation">
                <a href="/accueil/">Accueil</a>
                <a href="/categories/">Categories</a>
            </nav>
        </header>

        <div id="bestmovie_section">
            <!-- Best movie -->
            <div id="bestmovie"></div>
            <div id="bestmovie_title"></div>
            <button id="button-play" class="modal_trigger">Play</button>
            <div id="desc"></div>
        </div>
        
        <!-- best rated movies -->
        <h2>Films les mieux notés</h2>
        <div id="bestrated" class="category">
            <button class="leftbutton nav_btn" onclick="sliderScrollLeft()"> ᐊ </button>
             <button class="modal_trigger" role="dialog" aria-labelledby="best movies" aria-describedby="best movies">
                <div id="bestrated_list" class="carousel"></div>
            </button>
            <button class="rightbutton nav_btn" onclick="sliderScrollRight()"> ᐅ </button>
        </div>
        
        <!-- category 1 movies -->
        <h2>Action</h2>
        <div id="action" class="category">
            <button class="leftbutton nav_btn" onclick="sliderScrollLeft()"> ᐊ </button>
            <div id="action_list" class="carousel"></div>
            <button class="rightbutton nav_btn" onclick="sliderScrollRight()"> ᐅ </button>
        </div>

        <!-- category 2 movies-->
        <h2>Comedy</h2>
        <div id="comedy" class="category">
            <button class="leftbutton nav_btn" onclick="sliderScrollLeft()"> ᐊ </button>
            <div id="comedy_list" class="carousel"></div>
            <button class="rightbutton nav_btn" onclick="sliderScrollRight()"> ᐅ </button>
        </div>
        
        <!-- category 3 movies-->
        <h2>Drama</h2>
        <div id="drama" class="category">
            <button class="leftbutton nav_btn" onclick="sliderScrollLeft()"> ᐊ </button>
            <div id="drama_list"  class="carousel"></div>
            <button class="rightbutton nav_btn" onclick="sliderScrollRight()"> ᐅ </button>
        </div>

                <!-- Modale -->
        <div class="modal_container">
            <!-- Overlay -->
            <div class="overlay modal_trigger"></div>
            <!-- Contenu de la modale -->
            <div class="modal" role="dialog" aria-labelledby="movietitle" aria-describedby="movie_det">
                <button class="close_modal modal_trigger">X</button>
                <div id="movie_details">
                </div>
            </div>
        </div>

        <!-- <button class="modal_btn modal_trigger"> Test modal </button>  -->

        <script src="/static/js/accueil.js"></script>

        <footer>
            <p>Copyright JustStreamIt</p>
        </footer>
    </body>
</html>