<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/css/style.css"/>
        <title>JustSteamIt</title>
        
    </head>    

    <body>

        <header>
            <div id=site>
                <h1>JustSteamIt</h1>
            </div>
            <nav id="header_nav" aria-label="Main navigation">
                <a href="/accueil/">Accueil</a>
                <a href="/categories/">Categories</a>
            </nav>
        </header>

        <!-- Section du meilleur film -->
        <div id="bestmovie_section">
            <div id="bestmovie_img"></div>
            <div class="bestmovie">
                <div id="bestmovie_title"></div>
                <div id="desc"></div>
            </div>
        </div>

        <!-- Films les mieux notés - Carrousel -->
        <h2>Films les mieux notés</h2>
        <div class="carousel js-product-carousel">
          <div class="carousel__view">
            <span class="carousel__control js-carousel-prev"><i class="icon"> < </i></span>
            <span class="carousel__control js-carousel-next"><i class="icon"> > </i></span>
            <ul id="bestrated_list" class="product-list js-product-list">
                <li id="best1" class="product-list__item">
                     <img src="" class="product">
                </li>
                <li id="best2" class="product-list__item">
                     <img src="" class="product">
                </li>
                <li id="best3" class="product-list__item">
                     <img src="" class="product">
                </li>
                <li id="best4" class="product-list__item">
                     <img src="" class="product">
                </li>
                <li id="best5" class="product-list__item">
                     <img src="" class="product">
                </li>
                <li id="best6" class="product-list__item">
                     <img src="" class="product">
                </li>
                <li id="best7" class="product-list__item">
                     <img src="" class="product">
                </li>
            </ul>
          </div>
        </div>


        <!-- Films d'action - Carrousel -->
        <h2>Action</h2>
        <div class="carousel js-product-carousel">
          <div class="carousel__view">
            <span class="carousel__control js-carousel-prev"><i class="icon"> < </i></span>
            <span class="carousel__control js-carousel-next"><i class="icon"> > </i></span>
            <ul id="action_list" class="product-list js-product-list">
                <li id="act1" class="product-list__item">
                    <img src="" class="product">
                </li>
                <li id="act2" class="product-list__item">
                    <img src="" class="product">
                </li>
                <li id="act3" class="product-list__item">
                    <img src="" class="product">
                </li>
                <li id="act4" class="product-list__item">
                    <img src="" class="product">
                </li>
                <li id="act5" class="product-list__item">
                    <img src="" class="product">
                </li>
                <li id="act6" class="product-list__item">
                    <img src="" class="product">
                </li>
                <li id="act7" class="product-list__item">
                    <img src="" class="product">
                </li>
            </ul>
          </div>
        </div>


        <!-- Films du genre Comedy - Carrousel -->
        <h2>Comedy</h2>
        <div class="carousel js-product-carousel">
          <div class="carousel__view">
            <span class="carousel__control js-carousel-prev"><i class="icon"> < </i></span>
            <span class="carousel__control js-carousel-next"><i class="icon"> > </i></span>
            <ul id="comedy_list" class="product-list js-product-list">
                <li id="com1" class="product-list__item">
                     <img src="" class="product">
                </li>
                <li id="com2" class="product-list__item">
                     <img src="" class="product">
                </li>
                <li id="com3" class="product-list__item">
                    <img src="" class="product">
                </li>
                <li id="com4" class="product-list__item">
                     <img src="" class="product">
                </li>
                <li id="com5" class="product-list__item">
                     <img src="" class="product">
                </li>
                <li id="com6" class="product-list__item">
                     <img src="" class="product">
                </li>
                <li id="com7" class="product-list__item">
                     <img src="" class="product">
                </li>
            </ul>
          </div>
        </div>


        <!-- Films du genre Drame - Carrousel -->
        <h2>Drama</h2>
        <div class="carousel js-product-carousel">
          <div class="carousel__view">
            <span class="carousel__control js-carousel-prev"><i class="icon"> < </i></span>
            <span class="carousel__control js-carousel-next"><i class="icon"> > </i></span>
            <ul id="drama_list" class="product-list js-product-list">
                <li id="dram1" class="product-list__item">
                     <img src="" class="product">
                </li>
                <li id="dram2" class="product-list__item">
                     <img src="" class="product">
                </li>
                <li id="dram3" class="product-list__item">
                     <img src="" class="product">
                </li>
                <li id="dram4" class="product-list__item">
                     <img src="" class="product">
                </li>
                <li id="dram5" class="product-list__item">
                     <img src="" class="product">
                </li>
                <li id="dram6" class="product-list__item">
                     <img src="" class="product">
                </li>
                <li id="dram7" class="product-list__item">
                     <img src="" class="product">
                </li>
            </ul>
          </div>
        </div>
  

        <!-- La fenêtre modale avec détails d'un film-->
        <div id="modal1" class="modal_container">
            <div class="modal" role="dialog">
                <button type="button" id="close_modal" aria-label="Close" onclick="document.getElementById('modal1').style.display='none'">&times;</button>
                <div id="movie_details">
                </div>
            </div>
        </div>

        <script src="/static/js/accueil.js"></script>

        <footer>
            <p>Copyright JustStreamIt</p>
        </footer>

    </body>
</html>


